{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<section class="container text-center">
  <h2>Welcome</h2>
  <p>Welcome to the Dashboard. You can use the following links to navigate:</p>
  <div class="row">
    <div class="col-md-12">
        <div class="navigation-links">
            <a href="{% url 'news' %}" class="btn btn-primary btn-sm">News</a>
            <a href="{% url 'search_user' %}" class="btn btn-secondary btn-sm">Search User</a>
            <a href="{% url 'received_files' %}" class="btn btn-secondary btn-sm">Received Files</a>
            <a href="{% url 'announcements' %}" class="btn btn-secondary btn-sm">Announcements</a>
            <a href="{% url 'create_announcement' %}" class="btn btn-secondary btn-sm">Create Announcement</a>
        </div>
    </div>
</div>



  <hr>

  <div class="row">
    <div class="col-md-4">
      <a href="{% url 'youtube' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/Youtube Img.jpg' %}" alt="Youtube image">
          <div class="card-body">
            <h5 style="font-weight: bold;" class="card-title">Youtube Search</h5>
            Search and play videos from Youtube
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% url 'notes' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/Notes Img.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 style="font-weight: bold;" class="card-title">Notes</h5>
            Create and manage your notes
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% url 'books' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/Book Search Img.jpg' %}" alt="Book Search image">
          <div class="card-body">
            <h5 style="font-weight: bold;" class="card-title">Books Search</h5>
            Browse and discover books
          </div>
        </div>
      </a>
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-md-4">
      <a href="{% url 'dictionary' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/Dictionary Img.jpg' %}" alt="Dictionary image">
          <div class="card-body">
            <h5 style="font-weight: bold;" class="card-title">Dictionary</h5>
            Look up word meanings
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% url 'wiki' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/WikiPedia Img.jpg' %}" alt="Wikipedia image">
          <div class="card-body">
            <h5 style="font-weight: bold;" class="card-title">Wikipedia</h5>
            Search and read Wikipedia articles
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% url 'todo' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/Todo Img.jpg' %}" alt="Todos image">
          <div class="card-body">
            <h5 style="font-weight: bold;" class="card-title">To Do</h5>
            Manage your tasks and to-do lists
          </div>
        </div>
      </a>
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-md-4">
      <a href="{% url 'homework' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/Homework Img.jpg' %}" alt="Homework image">
          <div class="card-body">
            <h5 style="font-weight: bold;" class="card-title">Homework</h5>
            Manage and track your homework assignments
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% url 'expense' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/Expense Img.jpg' %}" alt="Expense tracker image">
          <div class="card-body">
            <h5 style="font-weight: bold;" class="card-title">Expense Tracker</h5>
            Track and manage your expenses
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

{% endblock content %}
