{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<section class='text-center container'>

    <div class="container">

        <div class="content-section p-0 mt-5">

            <div class="m-3">
                <h2 class="note-title">{{notes.title}}</h2>
            </div>

            <hr class="p-0 m-0">
            <p class="description m-5 p-5">
                {{notes.description}}
            </p>
            <hr>
        </div>

    </div>

</section>

<style>
    .note-title {
        color: #333; /* Color for the title */
    }

    .description {
        color: #777; /* Color for the description */
    }
</style>

{% endblock content %}
