<!-- notes.html -->
{% extends 'dashboard/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>My Notes</h1>
    <div class="row">
        <div class="col-md-4">
            <h3>Add a New Note</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Add Note</button>
            </form>
        </div>
        <div class="col-md-8">
            <h3>Previous Notes</h3>
            <ul class="list-group">
                {% for note in notes %}
                    <li class="list-group-item">
                        <h5 class="note-title">{{ note.title }}</h5>
                        <p class="note-description">{{ note.description }}</p>
                        <form action="{% url 'delete_note' note.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                        <a href="{% url 'update_note' note.id %}" class="btn btn-secondary btn-sm">Edit</a>
                    </li>
                {% endfor %}
            </ul>
            <div style="text-align: center;">
              <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
          </div>
        </div>
    </div>
</div>

<style>
    .note-title {
        color: #007bff; /* Blue color for title */
    }

    .note-description {
        color: #666; /* Dark gray color for description */
    }
</style>

{% endblock %}
