{% extends 'dashboard/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1>Search Users</h1>
    <form method="GET" action="{% url 'search_user' %}">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="q" placeholder="Search..." aria-label="Search" aria-describedby="button-search">
            <button class="btn btn-primary" type="submit" id="button-search">Search</button>
        </div>
    </form>
    <hr>
    {% if users %}
    <div class="row">
        {% for user in users %}
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="card-text">Email: {{ user.email }}</p>
                    <a href="{% url 'send_file' user.id %}" class="btn btn-primary">Send File</a>
                    <a href="{% url 'received_files' %}" class="btn btn-secondary">Received Files</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <p>No results found.</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
